body {
    font-family: Arial, sans-serif;
    background-color: #e6f0ff;
    margin: 0;
    padding: 0;
}

.container {
    background: white;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #007bff;
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
}

input[type="text"],
input[type="number"],
input[type="file"],
select {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#itemTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#itemTable th, #itemTable td {
    border: 1px solid #007bff;
    padding: 8px;
    text-align: center;
}

#itemTable th {
    background-color: #007bff;
    color: white;
}

/* khusus select tanggal */
.small-inputs select {
    width: 30%;
    display: inline-block;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    input[type="text"],
    input[type="number"],
    input[type="file"],
    select {
        width: 100%;
    }
}
